<%- include('header') %>

    <h2>Welcome to eStore, <%= name %>!</h2>
    <p>We are thrilled to have you on board. Your account has been successfully created.</p>
    <p>You can now browse our extensive collection of products and start shopping.</p>
    <br>
    <center>
        <a href="<%= loginUrl %>" class="button" style="color: #ffffff;">Login to your Account</a>
    </center>

    <%- include('footer') %>